<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Entry</title>
</head>
<body>
    <form action="/" method="post">Input text in CSV format 
        <br>
        <textarea name="textarea" id="text" rows="10" cols="40"></textarea>
        <br>
        <button type="submit" name="submitInfo" value="Submit">Submit</button>
      </form>
</body>
</html>