<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Table Maker</title>
	<style>
		table,
		td {
			border: 1px solid black;
		}
	</style>
</head>

<body>
	<table>
		<tbody>
			<% for (row in table){%>
				<tr>
					<%for (col of table[row]){%>
						<td>
							<%=col%>
						</td>
						<%}%>
				</tr>
				<%}%>
		</tbody>
	</table>
	<br>
	<a href='/'>Back</a>
</body>

</html>