<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
</head>
<body>
    
    <form action="/createorder" method="post">
        <input type="text" name="customerName" placeholder="Customer Name"><br>
        <textarea name="customerAddress" cols="30" rows="3" placeholder="Customer Address"></textarea><br>
        <input type="number" name="battlepass"> Fortnite Battlepass<br>
        <input type="number" name="nineteenDollar"> $19 Fornite Card<br>
        <input type="number" name="DLC"> DLC<br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>