<html>
<h1>Submit your CSV text to make it into a table!</h1>
<p>We have recieved countless emails informing our team about the table not working as intended, but upon testing, it
    seems to be running normally. <b>Remember to follow the CSV format</b>.</p>


<body>
    <form>
        <textarea name="table" cols="30" rows="10"></textarea>
        <input type="submit" value="submit">
    </form>
</body>

</html>