<html>
  <head>
    <title>
      Nocti
    </title>
    <h1>Nocti</h1>
  </head>
 
  <body style="text-align:center;" id="body">
    <form action="/update" method="POST" id="user"> 
        <input type="text" id="name" placeholder="name">
        <input type="number" id="id" placeholder="ID"> 
        <input type="submit" value="Submit JSON">
    </form>
 </body>
</html>