<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta ejs-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Tablemaker</title>
</head>
    <body>	
        <form action="/" method="post">
            <textarea name="table" rows="30" cols="70">
                
                </textarea> <br>
                <input type="submit" value="Submit">
        </form>
	</body>
</html>