<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h3>
    Current Customers Here:
</h3>
<h4>
    Go To <button onclick="location.href='/neworder'">New Order</button> To Add A New User
    <br>
    <br>
    <form action="/bana" method="POST">
        <input type="submit"></button> The User List
    </form>

</h4>

<body>
    <% for (let i=0; i < ejsData.orders.length; i++) { %>
        <%= ejsData.orders[i].name %> <br>
    <% } %>
</body>

</html>