<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
    table, th, td {
  border:1px solid black;

}
</style>
<body>
    <table>
   <%  for (let i = 0; i < table.length; i++) { %>
    <tr>
        <% for (let u = 0; u < table[i].length; u++) { %>
           <% if(i == 0){ %>
             <th><%-table[i][u]%></th> 
             <%continue;} else{ %>
            <td>
                <%- table[i][u] %>
            </td>
            <% } %>
            <% } %>
        </tr>
<%}%>
    </table>
    <a href="/">Go Back</a>
</body>
<script>
</script>
</html>