<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOCTI Prep 01</title>
</head>

<body>
    <a href="/neworder">Click Here to Make an Order</a>
    <h1>Order Names:</h1>
    <% for (let i=0; i < ejsData.orders.length; i++) { %>

        <%= ejsData.orders[i].name %> <br>
            <% } %>
</body>

</html>