<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <%- message %>
    <form action="/" method="post">
      <input type="text" name="amount" value="1">
      <input type="submit" value="submit">

    </form>
</body>

</html>