<html>
    <head>
        <title>CSV Tablemaker</title>
        <h1>Tablemaker</h1>

        
    </head>

    <body>
        <form action="/" method="post">
            <textarea name="text_area" id="" cols="30" rows="10"></textarea>
            <input type="submit">

        </form>
        
    </body>
</html>